*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-nav:#131921;
    --color:#cd9042;
    --color1:#fff;
}
body{
    background-color: #eaeded;
}
/* *******Global Classes ******** */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
/* ******X* Global Classes *X****** */

/* Navigation Bar */
nav{
    width: 100%;
    background-color: var( --background-nav);
    padding:5px 10px;
    align-items: center;
}

nav .nav_brand a img{
    width: 100px;
    margin: 20px 18px 0;
}
nav .search {
  flex:1;
}
nav .search input{
    width: 100%;
    padding: 10px;
    border: none;
}
nav .search .fa-search{
    padding: 10px;
    background-color: var(--color);
}
nav .nav_menu{
    justify-content: sap;
    align-items: center;
}
nav .nav_menu li{
    margin: 0px 10px;
}
nav .nav_menu li a{
    color:var(--color1);
    font-size: 10px;
}
nav .nav_menu li a span{
  font-size: 13px;
  font-weight: bold;
}
/* ******X* Navigation Bar *X****** */

/* *****Banner***** */
.banner{
    width: 100%;
}
 .banner img{
     width: 100%;
     height: 500px;
 }
 .banner .banner_img{
     z-index: -1;
   -webkit-mask-image: linear-gradient(180deg, #000, transparent);
 }
/* *****X*Banner*X***** */